h2 {
    color: #fff;
    text-align: center;
  }

  .group-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    a {
      color: #fff;
    }
    .group {
      box-sizing: border-box;
      width: 500px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-bottom: 2rem;
      h3 {
        font-size: 2.5rem;
        text-shadow: 5px 4px 3px #000;
        -webkit-text-stroke: 2px #000;
      }
      &:hover {
        background-color: #fff;
        border: 3px solid #fff;
        box-shadow: inset 0px 0px 8px rgb(25, 153, 173), 0 0 15px rgb(17, 161, 238);
        background: url('../../../public/fifa-gif.gif') no-repeat center center;
        background-size: cover;
      }
     
    }
  }