h2 {
    color: #fff;
    text-align: center;
  }

  .group-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .group {
      box-sizing: border-box;
      width: 500px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      &:hover {
        background-color: #fff;
        border: 3px solid #fff;
        color: #fff;
        box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
      }
    }
  }