header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: black;
    background: url('../../assets/world-cup-banner.avif') no-repeat;
    background-size: cover;
    h1.app-title {
        text-align: center;
        font-size: 2rem;
    }
}